<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sidaodemo.mapper.OrderMapper">

    <select id="list" resultType="com.example.sidaodemo.vo.OrderVo">
        select a.id,
               a.created_at,
               a.updated_at,
               b.nickname,
               b.mobile,
               a.product_name,
               a.total_price,
               a.count,
               a.unit_price,
               a.status,
               a.pay_type
        from p_order a
                 inner join p_user b on a.user_id = b.id
            limit #{page}, #{pers}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(id)
        from p_order
    </select>
    <select id="lastUserOrder" resultType="com.example.sidaodemo.entity.Order">
        select *
        from (select * from p_order ORDER BY created_at DESC limit #{count}) o
        GROUP BY o.user_id
    </select>
</mapper>